<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title></title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body>
    <form class="" action="/faculty/<%=courseCode%>" method="post">
      <textarea name="trueWords" rows="8" cols="80"></textarea>
      <textarea name="falseWords" rows="8" cols="80"></textarea><br>
      <button type="submit">Submit</button>
    </form>


  </body>
</html>
