<%- include('partials/header') %>

    <div class="row m-0 imptt">
        <div class="col-lg-7 col-md-6 col-sm-12 sign-up pb-5 d-flex align-items-center justify-content-center">
            <div class="logo">
                <img src="images/logo.png" alt="Company-logo">
                <h3 class="m-0 cursive">Buzzy Attendance</h3>
                <p class="m-0 mb-4" style="color: gray;">Fast-forward the attendance process</p>
            </div>
        </div>
    
        <div class="col-lg-5 col-md-6 col-sm-12 sign-in d-flex align-items-center justify-content-center">
            <div class="l-account">
                <h4 class="cursive mb-4">Login to your account</h4>
                <form action="/" method="post">
                    <div class="form-group">
                        <label class="h6 mb-1" style="float: left;">Email</label>
                        <input type="email" name="email" class="form-control text-box login shadow-none"
                            id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Email">
                    </div>
                    <div class="form-group mt-3">
                        <label class="h6 mb-1" style="float: left;">Password</label>
                        <input type="password" name="password" class="form-control text-box login shadow-none"
                            id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="mt-1">
                        <a href="/changePassword" style="float: right; color: #222831; text-decoration: none; font-size: small;">Change password</a>
                        <br>
                        <% if (message.length> 0) { %>
                            <p class="mt-1 text-danger">
                                <%= message %>
                                    <% } %>
                    </div>
                    <button type="submit" class="btn btn-outline-danger text-box cursive"
                        style="margin-top: 20px;">Login</button>
                </form>
            </div>
        </div>
    </div>




    </body>

    </html>