.content{
    text-align: center;
}

.optn:hover{
    background-color: gray !important;
}

.optn:focus{
    background-color: #363740 !important;
}

.boxe{
    padding: 0% 4% !important;
}

.ctnt{
    margin: 6%
}

.top-content{
    font-weight: bold;
    font-size: large;
}

.atdce{
    background-color: #363740;
    color: white;
}
