.textdec{
  text-decoration: none;
  font-weight: bold !important;
}

.box{
    border: #222831 2px solid;
    border-radius: 16px;
    background-color: white;
    margin: 10% 15% 15% 15%;
    display: flex;
    flex-direction: column;
    padding: 0%;
}

.box-top{
    color: #222831;
    background-color: #DBE2EF;
    border-bottom: #222831 2px solid;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.box-mid{
    text-align: center;
    background-color: #FFFFFF;
}

.box-bottom{
  background-color: #222831;
  color: #EEEEEE;
  height: 70%;
  width: 100%;
  margin: 0%;
  border-top: #222831 2px solid;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
