.textdec{
  text-decoration: none;
  font-weight: bold !important;
}

.box{
    height: 90%;
    border: #363740 2px solid;
    border-radius: 16px;
    background-color: white;
    margin: 10% 15% 15% 15%;
    display: flex;
    /* box-sizing: content-box; */
    flex-direction: column;
    padding: 0%;
}

.box-top{
    /* margin: 0%; */
    color: #363740 !important;
    width: 100%;
    border-bottom: #363740 2px solid;
    height: 80%;
    padding: 0%;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    /* position: relative; */
}

.box-mid{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    /* position: relative; */
}

.box-bottom{
    background-color: #00ADB5;
    /* position: relative; */
    height: 70%;
    width: 100%;
    margin: 0%;
    border-top: #363740 2px solid;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    /* margin-bottom: -1.5px;
    margin-left: -1px; */
}
