.textdec{
  text-decoration: none;
  font-weight: bold !important;
}

.boxFac{
    height: 70%;
    width: 70%;
}

.boxtopFac{
  color: #363740 !important;
    width: 100%;

    border-bottom: #363740 2px solid;
    height: 60%;
    padding: 5%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.boxMidFac{
  margin: 0;
  padding: 5%;
  width: 100%;
  height: 30%;

  background-color: white;
  border-bottom: 2px solid black;
}

.Custom{
  padding-top: 5% !important;
  margin-left: 5%;
  padding-bottom: 5%;
}

.Custom-2{
  margin-top: 5% !important;
  margin-right: 5% !important;
}
