.textdec{
  text-decoration: none;
  font-weight: bold !important;
}

.boxFac{
    height: 100%;
  }
  
.facBox{
    border: #222831 2px solid;
    border-radius: 16px;
    margin: 10% 15% 15% 15%;
    display: flex;
    flex-direction: column;
    padding: 0%;
}

.box-top-fac{
    background-color: #DBE2EF;
    color: #222831 !important;
    border-bottom: #222831 2px solid;
    padding: 7.5%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}


.facMid{
  padding: 7.5%;
  border-bottom: #222831 2px solid;
}



.facBot{
  text-align: center;
  padding: 7.5%;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
