.offcanvas-start{
  width: 300px !important;
}

.navbarHeading,.offcanvasHeading,.idName{
  font-family: cursive;
}


.navbar-custom {
    background-color: #222831;
}
.custom-toggler.navbar-toggler {
            border-color: #F1F6F9;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(241, 246, 249, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

 .navbar-dark .navbar-toggler-icon {
    background-image: "images/menu.png";
 }
/* change the brand and text color /
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}
/ change the link color /
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/ change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
