img{
    width: 60%;
    height: 50%;
    position: relative;
    margin-top: 50%;
}

input:focus::placeholder{
  color: transparent;
}


body{
  font-family: 'Times New Roman', Times, serif !important;

}
.login::placeholder{
  font-family: 'Times New Roman', Times, serif;
  font-size: 90%;
}

.sign-up{
    background-color: #222831;
    color: white;
    text-align: center;
    display: inline-block;
    width: 55%;
    float: left;
    min-height: 100vh;
}

.sign-in{
    background-color: white;
    text-align: center;
    display: inline-block;
    width: 45%;
    height: 100%;
    float: left;
    min-height: 100vh;
}

.l-account{
    /* background-color: black; */
    height: 60vh;
    width: 50%;
    position: relative;
    margin-top: 20%;
    margin-left: 25%;
    color: white;
    font-size: small;
    padding: 15px;
    color: #363740;
}

.text-box{
    width: 100%;
    height: 35px;
    padding: 0%;
    margin: 0%;
}

.btn-outline-danger{
    color: #363740 !important;
    border-color: #363740 !important;
    padding: 0%;
}

.btn-outline-danger:hover{
    background-color: #363740 !important;
    color: white !important;
}

.logo{
    display: inline-block;
    width: 50%;
}
